.about {
  z-index: 3;
  position: relative;
  margin-top: -30px;
  margin-bottom: 60px;

  .container {
    background-color: #fff;
    border-radius: 30px;
    padding-top: 60px;

    .desc {
      text-align: center;
      margin-top: 30px;
    }
  }
}
