.navbar {
  @include media("mobile") {
    background: #fff;
  }

  &-nav {
    display: flex;
    gap: 50px;

    @include media("mobile") {
      gap: 2px;
    }

    .nav-item {
      .nav-link {
        color: #fff;
        transition: color 0.3s ease;

        @include media ("mobile") {
          color: #000;
        }

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .navbar-nav-right {
    margin-left: 60px;
    gap: 24px;

    .nav-search {
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
    }

    .nav-lang {
      color: #fff;
      border: 2px solid #fff;
      border-radius: 10px;
      width: 56px;
      text-align: center;

      img {
        margin: 0 auto;
      }
    }
  }
}
