.visi {
  .container {
    .row {
      .col-md {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .desc {
          margin-top: 30px;
          text-align: justify;
          line-height: 2em;
        }
      }
    }

  }
}