@font-face {
  font-family: 'Futura Bold';
  src: url("../fonts/futura-bold-font.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins Bold';
  src: url("../fonts/Poppins-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.ttf") format("truetype"); }

body {
  font-family: 'Poppins', sans-serif; }

.bg-gradient {
  background: linear-gradient(180deg, #85C224 0%, #0067AB 100%); }

.navbar-nav {
  display: flex;
  gap: 50px; }
  @media (max-width: 767px) {
    .navbar-nav {
      gap: 2px; } }
  .navbar-nav .nav-item .nav-link {
    transition: color 0.3s ease; }
    .navbar-nav .nav-item .nav-link:hover {
      color: #85C224; }

.navbar .navbar-nav-right {
  margin-left: 60px;
  gap: 24px; }
  .navbar .navbar-nav-right .nav-search {
    display: flex;
    justify-content: center;
    align-items: center; }
    .navbar .navbar-nav-right .nav-search i {
      display: flex;
      justify-content: center;
      align-items: center; }
  .navbar .navbar-nav-right .nav-lang {
    border: 2px solid #000;
    border-radius: 10px;
    width: 56px;
    text-align: center; }
    .navbar .navbar-nav-right .nav-lang img {
      margin: 0 auto; }
