@font-face {
  font-family: 'Futura Bold';
  src: url('../fonts/futura-bold-font.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

// Global style
@import "./variables";
@import "./mixins";
@import "./global";

// Component
@import "./components/header";
@import "./components/banner";
